@import 'tailwindcss';

@config '../../tailwind.config.js';

@theme {
	--fontFamily:  Arial, sans-serif; /* 'Noto Sans TC' */
	--monospaceFontFamily:  'Courier New', Courier, monospace;

	--color-surface: #333;
	--color-onSurface: #fff;
	--color-inkWell: var(--color-onSurface);

	--color-surfaceContainer: #222;
	--color-onSurfaceContainer: var(--color-onSurface);

	--color-primary-50: var(--color-teal-50);
	--color-primary-100: var(--color-teal-100);
	--color-primary-200: var(--color-teal-200);
	--color-primary-300: var(--color-teal-300);
	--color-primary-400: var(--color-teal-400);
	--color-primary-500: var(--color-teal-500);
	--color-primary-600: var(--color-teal-600);
	--color-primary-700: var(--color-teal-700);
	--color-primary-800: var(--color-teal-800);
	--color-primary-900: var(--color-teal-900);
	--color-primary-950: var(--color-teal-950);
	
	--color-onPrimary: #ffffff;

	--color-divider: color-mix(in srgb, transparent, var(--color-onSurface) 20%);
	--color-containerBorder: color-mix(in srgb, transparent, var(--color-onSurface) 20%);
	--color-smallText: color-mix(in srgb, transparent, var(--color-onSurface) 80%);
	--color-codeContainer: color-mix(in srgb, transparent, var(--color-surfaceContainer) 60%);
}

@keyframes loadingBar {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

.animate-loadingBar {
	animation: loadingBar 1s infinite;
}

:root {
	font-family: var(--fontFamily);
	font-size: 16px;
	tab-size: 4;
	line-height: 1.5;
	accent-color: var(--color-primary-500);
}

@layer base {
	html.main-app, html.main-app body {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0px;

		overflow: hidden;
		overscroll-behavior: none;
		-webkit-text-size-adjust: none;
		-webkit-tap-highlight-color: transparent;

		background: var(--color-surface);
		color: var(--color-onSurface);
	}

	* {
		min-height: 0;
		min-width: 0;
		outline-color: var(--color-primary-500);
	}

	/* scrollbars */
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	::-webkit-scrollbar-track {
		background-color: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: color-mix(in srgb, transparent, var(--color-onSurface) 5%);
		border-radius: 999px;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: color-mix(in srgb, transparent, var(--color-onSurface) 15%);
	}

}