@layer base {
	.markdown-content {
		& h1 { font-size: 2.5rem; }
		& h2 { font-size: 2rem; }
		& h3 { font-size: 1.5rem; }
		& h4 { font-size: 1.25rem; }
		& h5 { font-size: 1.125rem; }
		& h6 { font-size: 1rem; }

		& p, hr { margin: 0.5rem 0; }

		& h1, h2, h3, h4, h5, h6 {
			font-weight: bold;
			margin: 0.5rem 0;
		}

		& ul {
			list-style: disc;
			margin-left: 1.5rem;
		}

		& ol {
			list-style: decimal;
			margin-left: 1.5rem;
		}

		& code {
			background-color: var(--color-codeContainer);
			padding: 0.2rem 0.4rem;
			font-family: 'Fira Code', monospace;
		}

		& a {
			color: var(--color-primary-500);
			text-decoration: underline;
		}
	}
}